nav {

  ul{
    background-color: transparent;
    position: fixed;
    font-family: $main-font;
    list-style: none;
    padding: 15px 30px;
  }

  a {
    font-family: $hero-font;
    color: $navigation-text-color;
    text-decoration: none;
    text-transform: uppercase;
    text-size: 12px;

  }

  li{
    color: $navigation-text-color;
    display: inline-block;
    margin-right: 20px;
  }
  li:after{
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width 300ms ease, background-color 300ms ease;
  }

  li:hover:after {
    width: 100%;
    background: white;
  }

}

